<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="main">            
            <div class="input-group">
              <input type="text" (keyup)="onChange(ref.value)" [(ngModel)]="input_value" class="form-control" placeholder="Search wiki.." #ref>
              <div class="input-group-append">
                <button (click)="onClick(ref.value)" class="btn btn-secondary" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </div>
    </div>
    <hr class="w-50">
    <div class="row text-center justify-content-center">
        
            <ng-container *ngIf="(input_value).length==0; else elseTemplate">
              <p class="text-info">Type anything and Click Search</p>
            </ng-container>
            <ng-template #elseTemplate>

              <ng-container *ngIf="data=='Nothing'; then thenTemplate; else elseTemplate"></ng-container>
            <ng-template #thenTemplate>
              <h5>No Result ! <small class="text-info">type valid keyword</small></h5>
            </ng-template>
            <ng-template #elseTemplate>
                
                  <div class="card col-md-6 shadow text-center" style="width: 18rem;">
                    <div class="card-body ">
                      <ng-container *ngIf="!data.title"><p class="text-info">Result will Appear here</p></ng-container>
                      <ng-container *ngIf="data.thumbnail"><img bind-src="data.thumbnail.source"></ng-container>
                      <h5 class="card-title">{{data.title}}</h5>
                      <p class="card-text text-justify">{{data.extract}}</p>
                    </div>
                   </div>
                  
                
                
              
            </ng-template>
              
            </ng-template>
            
    </div> 
</div>
<app-footer></app-footer>